.task-label {
  border: 1px solid grey;   
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.to-rigth {
  margin-left: auto;
  cursor: pointer;
  text-decoration: underline;
}

.task-title {
  font-weight: bold;
}

.labels-row.floated {
  margin: 0px;
  float: right;
  padding: 0;
  font-size: 11px;
  max-width: 150px;
}

.labels-row.floated .label {
    padding: 2px 9px;
    margin: 1px 2px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 7px;
    line-height: 1;
}