.label {
    padding: 3px 10px;
    margin: 0px 3px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
    line-height: 1;
}

.active {
    background: white;
    color: black;
}